In [1]:
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import norm
import seaborn as sns
from scipy import stats
import scipy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
print("Library")

Library

In [2]:
import numpy as np
import pandas as pd 
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import roc_auc_score,roc_curve
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve, mean_squared_error

#from catboost import CatBoostClassifier

In [3]:
veri=pd.read_csv("hmelq.csv")

In [4]:
veri.head()

,bad,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc
0,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.14,0.0,14.0,34.042
1,0,12600,103960.0,127384.0,DebtCon,NaN,2.0,0.0,0.0,129.02,0.0,25.0,34.479
2,0,18000,46865.0,61266.0,DebtCon,NaN,5.0,0.0,0.0,102.59,2.0,9.0,26.354
3,0,10300,57676.0,71027.0,DebtCon,NaN,19.0,0.0,0.0,157.52,1.0,11.0,33.992
4,0,9400,56508.0,78358.0,DebtCon,NaN,17.0,0.0,0.0,141.93,0.0,11.0,32.327

In [5]:
dms=pd.get_dummies(veri[['reason', 'job']])
dms.head()

,reason_DebtCon,reason_HomeImp,job_Mgr,job_Office,job_Other,job_ProfEx,job_Sales,job_Self
0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0

In [6]:
n_veri = veri.drop(["reason","job"],axis=1)
n_veri.head()

,bad,loan,mortdue,value,yoj,derog,delinq,clage,ninq,clno,debtinc
0,0,81200,18834.0,108355.0,28.0,0.0,0.0,139.14,0.0,14.0,34.042
1,0,12600,103960.0,127384.0,2.0,0.0,0.0,129.02,0.0,25.0,34.479
2,0,18000,46865.0,61266.0,5.0,0.0,0.0,102.59,2.0,9.0,26.354
3,0,10300,57676.0,71027.0,19.0,0.0,0.0,157.52,1.0,11.0,33.992
4,0,9400,56508.0,78358.0,17.0,0.0,0.0,141.93,0.0,11.0,32.327

In [7]:
veri = pd.concat([n_veri, dms[["reason_DebtCon","reason_HomeImp","job_Mgr","job_Office","job_Other","job_ProfEx","job_Sales","job_Self"]]],axis = 1)
veri=veri.dropna()
veri.head()

,bad,loan,mortdue,value,yoj,derog,delinq,clage,ninq,clno,debtinc,reason_DebtCon,reason_HomeImp,job_Mgr,job_Office,job_Other,job_ProfEx,job_Sales,job_Self
0,0,81200,18834.0,108355.0,28.0,0.0,0.0,139.14,0.0,14.0,34.042,0,1,0,0,0,0,0,0
1,0,12600,103960.0,127384.0,2.0,0.0,0.0,129.02,0.0,25.0,34.479,1,0,0,0,0,0,0,0
2,0,18000,46865.0,61266.0,5.0,0.0,0.0,102.59,2.0,9.0,26.354,1,0,0,0,0,0,0,0
3,0,10300,57676.0,71027.0,19.0,0.0,0.0,157.52,1.0,11.0,33.992,1,0,0,0,0,0,0,0
4,0,9400,56508.0,78358.0,17.0,0.0,0.0,141.93,0.0,11.0,32.327,1,0,0,0,0,0,0,0

In [8]:
y=veri["bad"]
X=veri.drop(["bad"],axis=1)
X=pd.DataFrame(X)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1473, 18)
(632, 18)
(1473,)
(632,)

# 6-) Neural Network

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler=StandardScaler()

In [17]:


scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test) #aralarındaki ilişki lineer oldugu düşünüldüğü için normalize ederiz veriyi

In [18]:
X_test_scaled[0:5]

array([[ 1.90341885,  6.81423771,  6.98259584, -0.94553888, -0.25158836,
        -0.34169988,  1.66936303,  1.88801191, -0.74180439,  0.89122848,
        -1.48867633,  1.552328  , -0.38714713, -0.42682899, -0.8059132 ,
         1.69898309, -0.11431273, -0.16707324],
       [-0.41939645,  0.44698379,  0.30033609,  0.09433328, -0.25158836,
        -0.34169988,  0.29976171, -0.64596672, -1.05549181,  0.74666917,
         0.67173769, -0.64419375, -0.38714713,  2.34285868, -0.8059132 ,
        -0.58858738, -0.11431273, -0.16707324],
       [ 0.1412831 ,  0.25123061,  0.632937  ,  0.2243173 , -0.25158836,
        -0.34169988, -0.97834127,  1.25451725, -0.84636686,  0.62735435,
         0.67173769, -0.64419375, -0.38714713, -0.42682899,  1.24082842,
        -0.58858738, -0.11431273, -0.16707324],
       [ 0.53286883, -0.3051388 , -0.43122733, -0.81555486, -0.25158836,
        -0.34169988, -1.46020184, -0.64596672, -0.84636686,  3.56777369,
        -1.48867633,  1.552328  , -0.38714713, -0.42682899,  1.24082842,
        -0.58858738, -0.11431273, -0.16707324],
       [-0.8020825 , -0.03642938, -0.16595486, -0.55558682, -0.25158836,
        -0.34169988, -0.86948584, -0.64596672,  0.30382036, -0.02247179,
         0.67173769, -0.64419375, -0.38714713, -0.42682899, -0.8059132 ,
         1.69898309, -0.11431273, -0.16707324]])

In [11]:
from sklearn.neural_network import MLPClassifier

In [19]:
mlpc=MLPClassifier().fit(X_train_scaled,y_train)

/home/basak/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [20]:
y_pred=mlpc.predict(X_test_scaled)
accuracy_score(y_test,y_pred)

0.9509493670886076

In [17]:


print(classification_report(y_test,y_pred)) 
#default parametrelerle kurdugumuz nn modeli

              precision    recall  f1-score   support

           0       0.96      1.00      0.98       574
           1       1.00      0.53      0.70        58

    accuracy                           0.96       632
   macro avg       0.98      0.77      0.84       632
weighted avg       0.96      0.96      0.95       632

# 6.1-) Model Tuning

In [18]:
mlpc_params = {"alpha": [0.1, 0.01, 0.02, 0.001, 0.005,0.0001],
              "hidden_layer_sizes": [(10,10,10),#2 layer olsun her layerda max 10 node olsun 
                                     (100,100),
                                     (100,100,100),#2 layer olsun her layerda max 100 node olsun 
                                     (3,5), #single layer
                                     (5, 3)],
              "solver" : ["lbfgs","adam","sgd"],
              "activation": ["relu","logistic"]}
#alpha :duracagi error sınırı bilgisidir.

In [19]:
mlpc=MLPClassifier()
mlpc_cv_model=GridSearchCV(mlpc,mlpc_params,
                          cv=10,
                          n_jobs=-1,
                          verbose=1)
mlpc_cv_model.fit(X_train_scaled,y_train)#modelimizi kurarız

Fitting 10 folds for each of 180 candidates, totalling 1800 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   29.7s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed: 13.5min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed: 19.0min
[Parallel(n_jobs=-1)]: Done 1800 out of 1800 | elapsed: 19.0min finished
/home/basak/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

GridSearchCV(cv=10, error_score=nan,
             estimator=MLPClassifier(activation='relu', alpha=0.0001,
                                     batch_size='auto', beta_1=0.9,
                                     beta_2=0.999, early_stopping=False,
                                     epsilon=1e-08, hidden_layer_sizes=(100,),
                                     learning_rate='constant',
                                     learning_rate_init=0.001, max_fun=15000,
                                     max_iter=200, momentum=0.9,
                                     n_iter_no_change=10,
                                     nesterovs_momentum=True, power_t=0.5,
                                     random_stat...
                                     validation_fraction=0.1, verbose=False,
                                     warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'activation': ['relu', 'logistic'],
                         'alpha': [0.1, 0.01, 0.02, 0.001, 0.005, 0.0001],
                         'hidden_layer_sizes': [(10, 10, 10), (100, 100),
                                                (100, 100, 100), (3, 5),
                                                (5, 3)],
                         'solver': ['lbfgs', 'adam', 'sgd']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [20]:
print("En iyi parametreler:" + str(mlpc_cv_model.best_params_))

En iyi parametreler:{'activation': 'relu', 'alpha': 0.1, 'hidden_layer_sizes': (100, 100, 100), 'solver': 'adam'}

In [21]:


mlpc_tuned=MLPClassifier(activation="relu",
                        alpha=0.1,
                        hidden_layer_sizes=(100,100),
                         solver="lbfgs"
                        )

In [22]:
mlpc_tuned.fit(X_train_scaled,y_train)

/home/basak/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='relu', alpha=0.1, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100, 100), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [23]:
y_pred=mlpc_tuned.predict(X_test_scaled)
accuracy_score(y_test,y_pred)

0.9556962025316456

In [24]:


print(classification_report(y_test,y_pred))
#en iyi parametrelerle NN modeli kurdugumuzda;
# 0 lar icin ; precision degerimiz iyileşmiş
# 1 ler icin;recall ve f1 iyilesirken precisionımız düşmüş
#accuracymiz artmis

              precision    recall  f1-score   support

           0       0.96      0.99      0.98       574
           1       0.88      0.60      0.71        58

    accuracy                           0.96       632
   macro avg       0.92      0.80      0.85       632
weighted avg       0.95      0.96      0.95       632

# RESULTS BEFORE THE TUNE

In [29]:
modeller = [
    mlpc
    
]


for model in modeller:
    isimler = model.__class__.__name__
    y_pred = model.predict(X_test)     
    dogruluk = accuracy_score(y_test, y_pred)
    print("-"*28)
    print(isimler + ":" )
    print("Accuracy: {:.2%}".format(dogruluk))

----------------------------
MLPClassifier:
Accuracy: 9.65%

# RESULTS AFTER THE TUNE

In [24]:
modeller = [
     mlpc_tuned
   
]


for model in modeller:
    isimler = model.__class__.__name__
    y_pred = model.predict(X_test)     
    dogruluk = accuracy_score(y_test, y_pred)
    print("-"*28)
    print(isimler + ":" )
    print("Accuracy: {:.4%}".format(dogruluk))

----------------------------
MLPClassifier:
Accuracy: 9.1772%

In [ ]:
mlpc_tuned